@{
    Layout = "_Layout";

}
<style>
    model-viewer {
        --progress-bar-color: transparent;
    }
</style>


<div id="appNewProducts">
    <section id="home-section" class="hero" v-if="newProducts.length>0">
        <div class="home-slider owl-carousel owl-loaded" style=" height: 700px;min-height: 650px;">

            <div class="slider-item"  v-for="item in newProducts">
                <div class="overlay"></div>
                <div class="container pt-md-5 h-100 px-2 px-md-0">
                    <div class="row align-items-center justify-content-center flex-nowrap h-100" style="gap: 50px;">
                        <div class="text col-5">
                            <span class="subheading">#SẢN PHẨM MỚI</span>
                            <div class="horizontal">
                                <h2 class="mb-4 mt-3" style="font-weight: 700">{{item.name}}</h2>
                                <p class="mb-4">{{item.description}}</p>

                                <a href="javascript:;" v-bind:onClick="'DesignNow('+item.productID+')'" class="btn-custom pt-2 btn d-block" style="border-radius: 5px;max-width: 230px">Thiết Kế Mẫu Này <i style="margin-left: 6px;" class="fa-solid fa-wand-magic-sparkles fa-beat"></i></a>
                                <a v-bind:href="'/product/detail/'+item.productID" class="btn-custom pt-2 btn d-block mt-2" style="border-radius: 5px; max-width: 230px;background-color:#28a745;">Xem chi tiết </a>

                            </div>
                        </div>
                        <model-viewer class="col-6 col-md-6 h-100" alt=""
                                      v-bind:src="item.modelUrl" v-bind:poster="item.posterUrl" ar shadow-intensity="1" camera-controls disable-pan
                                      disable-tap auto-rotate autoplay shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                                      max-camera-orbit="auto auto 150%">
                        </model-viewer>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section class="ftco-section ftco-deal bg-primary" v-if="saleProducts">
        <div class="container">
            <div class="row" style="height: 600px">
                <div class="col-md-6">
                    <model-viewer class="w-100 h-100" alt="model-sale"
                                  v-bind:src="saleProducts.modelUrl" v-bind:poster="saleProducts.posterUrl" ar shadow-intensity="1" camera-controls disable-pan
                                  disable-tap auto-rotate autoplay shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                                  max-camera-orbit="auto auto 150%">
                    </model-viewer>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center" >
                    <div>
                        <div class="heading-section heading-section-white">
                            <span class="subheading" style="background-color:#000000; display: inline; padding: 5px 7px; letter-spacing: 4px;">#Ưu đãi lớn </span>
                            <h2 class="mb-3">Giảm giá {{saleProducts.sale}}%</h2>
                        </div>
                        <div id="timer" class="d-flex mb-4">
                            <div class="time" id="days"></div>
                            <div class="time pl-4" id="hours"></div>
                            <div class="time pl-4" id="minutes"></div>
                            <div class="time pl-4" id="seconds"></div>
                        </div>
                        <div class="text-deal">
                            <h2><a style="font-weight: 700; font-family:'Open Sans', Arial, sans-serif;" href="/product">{{saleProducts.name}}</a></h2>
                            <p class="price">
                                <span class="mr-2 price-dc">{{Number(saleProducts.price).toLocaleString("en-US")}}&#8363;</span><span class="price-sale">{{Number(saleProducts.price - (saleProducts.price*saleProducts.sale/100)).toLocaleString("en-US")}}&#8363;</span>
                            </p>
                        </div>
                        <div class="text">
                            <a href="javascript:;" v-bind:onClick="'DesignNow('+saleProducts.productID+')'" class="btn-custom pt-2 btn" style="border-radius: 5px;">Thiết Kế Mẫu Này <i style="margin-left: 6px;" class="fa-solid fa-wand-magic-sparkles fa-beat"></i></a>
                            <a v-bind:href="'/product/detail/'+saleProducts.productID" class="btn-custom pt-2 btn" style="border-radius: 5px;background-color:#28a745;">Xem chi tiết</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="services-flow">
                        <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                            <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #1e7baf ">
                                <i class="fa-solid fa-shirt fa-bounce mt-1" style="font-size: 30px; color:#f7f7f7"></i>
                            </div>
                            <div class="text">
                                <h3>Không giới hạn</h3>
                                <p class="mb-0">Sản xuất số lượng bất kỳ, từ 01 sản phẩm trở lên.</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                            <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #86c9ef ">
                                <i class="fa-solid fa-wand-magic-sparkles fa-bounce mt-1" style="font-size: 30px; color: #f7f7f7"></i>
                            </div>
                            <div class="text">
                                <h3>Thỏa sức sáng tạo</h3>
                                <p class="mb-0">Bạn đưa ra ý tưởng, chúng tôi giúp bạn hoàn thành nó.</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                            <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #f7f7f7 ">
                                <i class="fa-solid fa-cube fa-bounce mt-1" style="font-size: 30px; color: #86c9ef"></i>
                            </div>
                            <div class="text">
                                <h3>3D & AR</h3>
                                <p class="mb-0">Nâng tầm thiết kế, góc nhìn trực quan trên mô hình 3D.</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate align-items-center">
                            <div class="icon d-flex justify-content-center align-items-center" style="min-width: 74px; max-width: 74px; height: 74px; border-radius: 100%; background-color: #f7f7f7 ">
                                <i class="fa-solid fa-headset fa-bounce mt-1" style="font-size: 30px; color: #1e7baf"></i>
                            </div>
                            <div class="text">
                                <h3>Hỗ trợ 24/7</h3>
                                <p class="mb-0 text-white">
                                    Chăm sóc khách hàng 24/7 sẵn sàng giúp đỡ và giải đáp mọi thắc mắc của bạn.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="heading-section ftco-animate mb-5">
                        <h2 class="mb-4">Dịch vụ của chúng tôi</h2>
                        <p>
                            Chúng tôi mang đến giải pháp toàn diện cho các mẫu may mặc như áo khoác, áo dài, hoodie,... áp dụng sức mạnh của công nghệ tiên tiến vào sản xuất để đưa ra giải pháp sản xuất hiệu quả và tối ưu về thiết kế, đáp ứng từng nhu cầu khác biệt.
                        </p>
                    </div>
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="mb-4">
                                    <img style=" width: initial;height: 200px;" src="/images/ar.jpg" />
                                </div>
                                <div class="text">
                                    <p class="mb-1" style="font-size: 15px;">
                                        Thiết kế sản phẩm trên mô hình 3D ngay trên <br /> website, xem sản phẩm của bạn trong chế độ AR chân thực,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="mb-4">
                                    <img style=" width: initial;height: 200px;" src="/images/may.jpg" />
                                </div>
                                <div class="text">
                                    <p class="mb-1" style="font-size: 15px;">
                                        Với sản phẩm, chúng tôi luôn tỉ mỉ hoàn thiện, <br /> sự hài lòng của khách hàng là mục tiêu của chúng tôi.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="mb-4">
                                    <img style=" width: initial;height: 200px;" src="/images/may-in.jpg" />
                                </div>
                                <div class="text">
                                    <p class="mb-1" style="font-size: 15px;">
                                        Có đầy đủ trang thiết bị in màu hiện đại như: in phun, <br /> in UV, in truyền nhiệt, in laser, in kỹ thuật số truyền nhiệt,
                                        in 3D...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="mb-4">
                                    <img style=" width: initial;height: 200px;" src="/images/chat-lieu.jpg" />
                                </div>
                                <div class="text">
                                    <p class="mb-1" style="font-size: 15px;">
                                        Đa dạng chất liệu như: vải cotton, len, jean, vải <br /> thô, nỉ,...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section bg-light" v-if="highlightProducts">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center">
                    <h2 class="mb-2">Sản phẩm nổi bật</h2>
                    <p>Đa dạng mẫu mã với chất liệu, màu sắc khác nhau. Thả ga lựa chọn chất riêng cho mình</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex" v-for="item in highlightProducts">
                    <div class="product d-flex flex-column">
                        <a v-bind:href="'/product/detail/'+item.productID" class="img-prod d-flex justify-content-center">
                            <img style="height: 255px;" v-bind:src="item.posterUrl"
                                 alt="Colorlib Template">
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3">
                            <div class="d-flex">
                                <div class="cat">
                                    <span>{{item.category.name}}</span>
                                </div>
                            </div>
                            <h3><a v-bind:href="'/product/detail/'+item.productID">{{item.name}}</a></h3>
                            <div class="pricing">
                                <p class="price"><span>{{Number(item.price).toLocaleString("en-US")}}&#8363;</span></p>
                            </div>
                            <div class="bottom-area d-flex px-2">
                                <a href="javascript:;" v-bind:onClick="'DesignNow('+item.productID+')'" class="add-to-cart text-center py-2 mr-1" style="height: fit-content;font-size:11px;">
                                    <span>
                                        Thiết kế <i class="fa-solid fa-wand-magic-sparkles"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" class="buy-now text-center py-2" style="height: fit-content;font-size:11px;" v-bind:onClick="'AddToCart('+item.productID+')'">
                                    <span>
                                        Thêm vào giỏ <i class="fa-solid fa-cart-plus"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>





<section class="ftco-section ftco-no-pt ftco-no-pb my-2">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="156" height="157" viewBox="0 0 156 157" fill="none"><g clip-path="url(#clip0_2071_27195)"><path d="M152.575 -0.0111564L3.19126 0.223496C1.42621 0.226268 -0.00239109 1.65937 0.000381438 3.42441L0.236365 153.656C0.239137 155.421 1.67224 156.85 3.43728 156.847L152.821 156.612C154.586 156.609 156.015 155.176 156.012 153.411L155.776 3.17972C155.773 1.41468 154.34 -0.0139289 152.575 -0.0111564Z" fill="#E1EFF9"></path><path d="M94.9661 42.5985L61.3848 42.652L66.1055 26.5751C67.9922 28.5858 70.3877 30.0487 73.0381 30.8087C74.1011 31.106 75.1946 31.2809 76.2974 31.33C77.4763 31.3836 78.6894 31.3787 79.8684 31.33C81.0223 31.2833 82.1669 31.1018 83.2787 30.7892C85.924 30.0236 88.3106 28.5516 90.182 26.5312L94.9661 42.5985Z" fill="#C3862C"></path><path d="M131.963 41.9749L123.505 62.987L118.146 63.1526C117.324 63.1753 116.543 63.5159 115.967 64.1029C115.391 64.6899 115.065 65.4774 115.057 66.2998C115.028 68.648 115.014 72.3408 115.023 77.5049L115.101 130.257L41.5371 130.369L41.4104 77.617C41.4104 72.448 41.3617 68.7552 41.3422 66.4119C41.3301 65.5906 41.0017 64.8057 40.4255 64.2204C39.8493 63.6351 39.0696 63.2945 38.2486 63.2695L32.8897 63.1185L24.3591 42.1357L66.0959 26.5702C66.9582 33.4785 70.3587 38.9446 75.1185 40.3039C77.1081 40.8391 79.2039 40.8391 81.1936 40.3039C85.9728 38.93 89.3539 33.4541 90.1821 26.541L131.963 41.9749Z" fill="#F5C242"></path><path d="M95.5945 65.9111C101.681 65.9111 106.614 60.9773 106.614 54.8911C106.614 48.8049 101.681 43.8711 95.5945 43.8711C89.5083 43.8711 84.5745 48.8049 84.5745 54.8911C84.5745 60.9773 89.5083 65.9111 95.5945 65.9111Z" fill="#4198D8"></path><path d="M101.821 49.2871L93.5533 57.5789L90.2941 54.3392L88.5208 56.1174L93.5582 61.1353L103.594 51.0653L101.821 49.2871Z" fill="#F8F8F8"></path></g><defs><clipPath id="clip0_2071_27195"><rect width="156" height="156.848" fill="white"></rect></clipPath></defs></svg>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">1.Lựa chọn</h3>
                        <p>
                            Tìm và lựa chọn cho mình sản phẩm qua danh mục của chúng tôi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="156" height="157" viewBox="0 0 156 157" fill="none"><g clip-path="url(#clip0_2071_27219)"><path d="M152.575 -0.0111564L3.19126 0.223496C1.42621 0.226268 -0.00239109 1.65937 0.000381438 3.42441L0.236365 153.656C0.239137 155.421 1.67224 156.85 3.43728 156.847L152.821 156.612C154.586 156.609 156.015 155.176 156.012 153.411L155.776 3.17972C155.773 1.41468 154.34 -0.0139289 152.575 -0.0111564Z" fill="#E1EFF9"></path><path d="M95.1219 43.807L61.9937 43.8606L66.6462 27.998C68.5033 29.9772 70.8594 31.4195 73.4668 32.1731C74.5173 32.4661 75.5976 32.6393 76.687 32.6895C77.8465 32.7431 79.045 32.7382 80.2045 32.6895C81.3455 32.6456 82.4773 32.4657 83.5757 32.1536C86.1883 31.4015 88.5464 29.9513 90.3963 27.959L95.1219 43.807Z" fill="#1E5180"></path><path d="M131.612 43.1941L123.257 63.9139L117.966 64.0795C117.155 64.101 116.384 64.4366 115.816 65.0157C115.248 65.5947 114.927 66.3717 114.921 67.1829C114.887 69.497 114.877 73.1411 114.887 78.237L114.96 130.268L42.3701 130.375L42.2921 78.3491C42.2921 73.2483 42.2434 69.6042 42.2239 67.2949C42.2141 66.4837 41.8905 65.7079 41.3209 65.1302C40.7514 64.5525 39.9802 64.2178 39.1693 64.1965L33.8785 64.0454L25.4893 43.3598L66.6511 28.0038C67.4988 34.8244 70.8555 40.1833 75.5519 41.5475C77.514 42.0785 79.5821 42.0785 81.5442 41.5475C86.2553 40.1882 89.5924 34.7903 90.406 27.9746L131.612 43.1941Z" fill="#8EC3E8"></path><path d="M68.7703 55.748L68.8872 56.9027C69.089 58.8725 69.9655 60.7121 71.3684 62.1096C72.7712 63.5071 74.6141 64.3766 76.5847 64.5709L77.7393 64.6878L76.5847 64.8047C74.614 65.0034 72.773 65.8782 71.3742 67.2805C69.9754 68.6828 69.1053 70.5262 68.9116 72.4973L68.7996 73.6519L68.6826 72.4973C68.4811 70.5269 67.6047 68.6867 66.2019 67.2884C64.7992 65.8901 62.9562 65.0195 60.9852 64.8242L59.8306 64.7122L60.9852 64.5952C62.9555 64.3956 64.7961 63.5206 66.1947 62.1184C67.5933 60.7163 68.4637 58.8735 68.6583 56.9027L68.7703 55.748Z" fill="white"></path><path d="M88.4671 57.5645L88.6181 59.0796C88.879 61.6726 90.0294 64.0953 91.8739 65.9363C93.7185 67.7773 96.1434 68.923 98.7369 69.1788L100.257 69.3299L98.7369 69.4858C96.1518 69.7513 93.7378 70.9014 91.9029 72.7416C90.068 74.5818 88.9249 76.9992 88.6669 79.585L88.5158 81.105L88.3599 79.5899C88.0981 76.9991 86.9477 74.5787 85.1042 72.7396C83.2607 70.9005 80.8375 69.756 78.2461 69.5004L76.7261 69.3493L78.2461 69.1983C80.8364 68.9343 83.2557 67.7825 85.0938 65.9383C86.9318 64.094 88.0754 61.6708 88.3307 59.0796L88.4671 57.5645Z" fill="white"></path><path d="M76.0002 72.1426L76.0879 72.9854C76.2337 74.4202 76.8712 75.7604 77.8923 76.7788C78.9134 77.7972 80.2553 78.4312 81.6904 78.5734L82.5333 78.6562L81.6904 78.7439C80.2553 78.8908 78.915 79.5293 77.8966 80.5512C76.8782 81.5731 76.2444 82.9156 76.1025 84.3513L76.0197 85.1941L75.932 84.3513C75.7872 82.9157 75.1501 81.5743 74.1289 80.5549C73.1077 79.5355 71.7653 78.9008 70.3294 78.7585L69.4866 78.6757L70.3294 78.5928C71.7646 78.4459 73.1049 77.8074 74.1232 76.7855C75.1416 75.7636 75.7754 74.4211 75.9174 72.9854L76.0002 72.1426Z" fill="white"></path></g><defs><clipPath id="clip0_2071_27219"><rect width="156" height="156.848" fill="white"></rect></clipPath></defs></svg>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">2.Thiết kế</h3>
                        <p>
                            Thiết kế trên mô hình 3D của chúng tôi, bạn có thể lựa chọn màu, chất liệu, hình dán.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services p-4 py-md-5">
                    <div class="icon d-flex justify-content-center align-items-center mb-4" style="font-size: 50px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="156" height="157" viewBox="0 0 156 157" fill="none"><g clip-path="url(#clip0_2071_27247)"><path d="M152.575 -0.0111564L3.19126 0.223496C1.42621 0.226268 -0.00239109 1.65937 0.000381438 3.42441L0.236365 153.656C0.239137 155.421 1.67224 156.85 3.43728 156.847L152.821 156.612C154.586 156.609 156.015 155.176 156.012 153.411L155.776 3.17972C155.773 1.41468 154.34 -0.0139289 152.575 -0.0111564Z" fill="#E1EFF9"></path><path d="M69.0823 95.385L69.1407 133.132L102.147 127.87L102.094 90.7422L69.0823 95.385Z" fill="#F5C242"></path><path d="M69.1405 133.132L53.8187 123.866L53.7651 86.5918L69.0821 95.3854L69.1405 133.132Z" fill="#C3862C"></path><path d="M86.7716 81.8223L102.093 90.7425L69.0821 95.3854L53.7651 86.5918L86.7716 81.8223Z" fill="#DCA437"></path><path d="M62.9728 103.35L58.9585 100.846L58.9438 89.5625L62.9533 91.862L62.9728 103.35Z" fill="#DCA437"></path><path d="M62.9533 91.8632L58.9438 89.5637L91.317 84.4727L95.1511 86.7039L62.9533 91.8632Z" fill="#F5C242"></path><path d="M61.0728 90.8062L60.6782 90.5821L92.9588 85.4277L93.329 85.6421L61.0728 90.8062Z" fill="#F8DD8A"></path><path d="M77.8465 88.3656L34.3218 60.4258L34.58 60.0215L77.8465 87.7908L120.86 60.2407L121.123 60.6451L77.8465 88.3656Z" fill="#1E5180"></path><path d="M77.8514 88.4421L53.697 61.7397L54.0527 61.4182L77.8417 87.7113L101.728 59.791L102.094 60.1077L77.8514 88.4421Z" fill="#1E5180"></path><path d="M78.048 57.0285L77.5657 57.0293L77.6141 87.8337L78.0964 87.8329L78.048 57.0285Z" fill="#1E5180"></path><path d="M77.832 22.5521C77.832 22.5521 39.642 18.2796 30.6243 64.7955C44.314 52.616 54.3938 64.7614 54.3938 64.7614C54.3938 64.7614 59.4702 28.3447 77.832 22.5521Z" fill="#8EC3E8"></path><path d="M77.832 22.5508L77.8904 64.726C77.8904 64.726 68.634 51.9277 54.3937 64.7601C53.5168 45.8331 60.5322 24.7382 77.832 22.5508Z" fill="#4198D8"></path><path d="M77.832 22.5518C77.832 22.5518 116.003 18.1672 125.162 64.654C111.433 52.5134 101.392 64.6881 101.392 64.6881C101.392 64.6881 96.2036 28.2908 77.832 22.5518Z" fill="#4198D8"></path><path d="M77.832 22.5508L77.8905 64.726C77.8905 64.726 87.1079 51.8985 101.392 64.687C102.215 45.7649 95.1318 24.6846 77.832 22.5508Z" fill="#8EC3E8"></path></g><defs><clipPath id="clip0_2071_27247"><rect width="156" height="156.848" fill="white"></rect></clipPath></defs></svg>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">3.Đặt hàng</h3>
                        <p>
                            Vận chuyển nhanh chóng và an toàn mọi tỉnh thành với chi phí cố định chỉ với @Html.Raw(Common.TransportFee.ToString("#,##0"))&#8363;.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters justify-content-center" id="appCategory">
            <div class="col-lg-4" v-for="item in dataTable">
                <div class="choose-wrap divider-one img p-5 d-flex align-content-between text-center d-flex flex-column"
                     v-bind:style="{ 'background-image': 'url(' + item.image + ')' }">

                    <div class="text text-center text-white px-2 h-100">
                        <span class="subheading mb-3">#{{item.name}}</span>
                        <p style="background-color: rgba(0,0,0,0.2)" class="text-white">
                            {{item.description}}
                        </p>
                    </div>
                    <p><a href="/product" class="btn btn-black px-3 py-2">Khám phá ngay</a></p>

                </div>
            </div>
        </div>
    </div>
</section>








@section Scripts {
    <script>
        var appCategory = new Vue({
            el: "#appCategory",
            data: {
                dataTable: [],

            },
            methods: {
                init: async function () {

                    await this.GetCategory();

                    this.$forceUpdate();
                },
                GetCategory: async function () {
                    var self = this;
                    self.dataTable = [];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/Home/GetCategories",
                        data: JSON.stringify({
                        }),
                        success: function (res) {
                            if (res.status == 1) {
                                if(res.data.length>3){
                                    self.dataTable = res.data.slice(0, 3);
                                }
                                else{
                                    self.dataTable = res.data;
                                }
                                console.log(self.dataTable)
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (error) {
                            ShowAlert(error.responseJSON.message, "danger");
                        }
                    });

                },



            },
            mounted() {
                this.init();
            },
        });
        var appNewProducts = new Vue({
            el: "#appNewProducts",
            data: {
                newProducts: [],
                saleProducts: {},
                highlightProducts: []
            },
            methods: {
                init: async function () {

                    await this.GetProductHomes();
                    window.addEventListener('load', (e) => {
                        var allModels = Array.from(document.querySelectorAll('model-viewer'));

                        allModels.forEach((md) => {
                            md.addEventListener('load', (elm) => {
                                for (var m of elm.target.model.materials) {
                                    m.setAlphaMode("OPAQUE");
                                }
                            });

                        });
                    });

                    this.$forceUpdate();
                },
                GetProductHomes: async function () {
                    var self = this;
                    self.newProducts = [];
                    self.saleProducts = {};
                    self.highlightProducts = [];
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/Home/GetProductHomes",
                        data: JSON.stringify({
                        }),
                        success: function (res) {
                            if (res.status == 1) {
                                console.log(res.data)
                                self.newProducts = res.data.newProducts;
                                self.saleProducts = res.data.saleProducts;
                                self.highlightProducts = res.data.highlightProducts;

                                if(self.saleProducts){
                                    setInterval(function () { self.MakerTime(self.saleProducts.saleEndAt) }, 1000);
                                }

                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (error) {
                            ShowAlert(error.responseJSON.message, "danger");
                        }
                    });

                },
                MakerTime: function (date) {

                    var endTime = new Date(date);
                    endTime = (Date.parse(endTime) / 1000);

                    var now = new Date();
                    now = (Date.parse(now) / 1000);

                    var timeLeft = endTime - now;

                    var days = Math.floor(timeLeft / 86400);
                    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
                    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
                    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

                    if (hours < "10") { hours = "0" + hours; }
                    if (minutes < "10") { minutes = "0" + minutes; }
                    if (seconds < "10") { seconds = "0" + seconds; }

                    $("#days").html(days + "<span>Ngày</span>");
                    $("#hours").html(hours + "<span>Giờ</span>");
                    $("#minutes").html(minutes + "<span>Phút</span>");
                    $("#seconds").html(seconds + "<span>Giây</span>");

                },



            },
            mounted() {
                this.init();
            },
        });

    </script>

}

