
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StyleX - Admin</title>
    <link rel="icon" href="/logo/stylex-high-resolution-logo.ico" type="image/png">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="/admin/css/admin.min.css" rel="stylesheet">
    <style>

        body {
            font-size: 15px !important;
        }

            body::-webkit-scrollbar {
                width: 9px; /* Độ rộng thanh cuộn*/
                height: 5px;
            }

        ::-webkit-scrollbar {
            width: 5px; /* Độ rộng thanh cuộn*/
            height: 4px;
        }

        ::-webkit-scrollbar-track {
            background: var(--text-color-component); /* Màu nền của thanh cuộn */
        }

        ::-webkit-scrollbar-thumb {
            background: #453a5c; /* Màu của thanh cuộn */
        }

            ::-webkit-scrollbar-thumb:hover {
                background: #716191; /* Màu khi di chuột qua thanh cuộn */
            }
    </style>


</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#3181ae">

            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3" style="font-size: 14px;">Style-X Admin</div>
                </a>
            </li>
            <li>
                <hr class="sidebar-divider my-0">
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Thống kê</span>
                </a>
            </li>

            <li>
                <hr class="sidebar-divider">

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/product">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lý sản phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/order">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Quản lý đơn hàng</span>
                </a>
            </li>


        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                     src="/admin/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/AdminAccess/Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div class="container-fluid">

                    @RenderBody()

                </div>

            </div>

        </div>

    </div>

    <div id="alertBox" style="max-width: 400px; position:fixed; bottom: 15px; right: 20px; margin: 0px; opacity: 0.95; z-index: 9999999; padding: 15px 20px; font-size: 17px;">
    </div>


    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="/admin/js/sb-admin-2.min.js"></script>

    <script src="/admin/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"> </script>


    <!--vue2 development-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <!--vue2 production-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js">
    </script>

    <script>

        Vue.config.ignoredElements = [
            'model-viewer'
            // other ignored elements if any
        ];

        //check image upload
        function isFileImage(file) {
            return file && file['type'].split('/')[0] === 'image';
        }
        var timeoutAlertID;
        function ShowAlert(html, type) {
            var alertBox = document.querySelector('#alertBox');
            var alert = `<div class="alert alert-${type} alert-dismissible" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    ${html}
                                                </div>`;

            if (timeoutAlertID) {
                alertBox.innerHTML = '';
                clearTimeout(timeoutAlertID);
            }

            alertBox.innerHTML = alert;
            timeoutAlertID = setTimeout(function () {
                alertBox.innerHTML = '';
            }, 3500);
        };

        //set tất cả material về OPAQUE, double side = true
        window.addEventListener('load', (e) => {
            var allModels = Array.from(document.querySelectorAll('model-viewer'));

            allModels.forEach((md) => {
                md.addEventListener('load', (elm) => {
                    for (var m of elm.target.model.materials) {
                        m.setAlphaMode("OPAQUE");
                    }
                });

            });

        })
        var menuItems = document.querySelectorAll("#accordionSidebar li.nav-item");

        menuItems.forEach(function (item) {
            var aItems = item.querySelectorAll('a');
            aItems.forEach(e => {
                if (e.href == window.location.href) {
                    item.classList.add("active");
                }
            })

        });

    </script>


    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>