@{
    Layout = "_Layout";

}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Sản phẩm</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Sản phẩm</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-2" id="appProduct">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="row g-4 mb-3">
                <div class="col-xl-3">
                    <div class="input-group w-100 mx-auto d-flex">
                        <input type="search" class="form-control p-2" style="font-size: 16px" placeholder="Nhập tên sản phẩm" aria-describedby="search-icon-1" v-model="nameProduct">
                        <span v-on:click="GetProduct()" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-9"></div>

            </div>
            <div class="row g-4">
                <div class="col-lg-9 col-sm-8">
                    <div class="row g-4 justify-content-start">
                        <div class="col-md-6 col-lg-6 col-xl-4" v-for="item in dataTable">
                            <div class="rounded position-relative fruite-item">
                                <a v-bind:href="'/product/detail/'+item.productID" class="fruite-img d-block">
                                    <img v-bind:src="item.posterUrl" class="img-fluid w-100 rounded-top" alt="">
                                </a>
                                <div v-if="item.sale>0" class="text-white bg-danger px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">-{{item.sale}}%</div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <a v-bind:href="'/product/detail/'+item.productID">
                                        <h4>{{item.name}}</h4>

                                    </a>
                                    <p>{{item.description}}</p>
                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fs-5 fw-bold mb-0">{{Number(item.price - (item.price * item.sale / 100)).toLocaleString('en-US')}}&#8363; / {{item.unit}}</p>
                                        <a href="javascript:void(0)" v-bind:onclick="'AddToCart('+item.productID+',1)'" class="btn border border-secondary rounded-pill px-3 text-primary ml-md-0 ml-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-4" style="position:relative;">
                    <div class="row g-4" style="position:fixed; overflow: auto; height: 700px">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <h4>Danh mục</h4>
                                <ul class="list-unstyled fruite-categorie">
                                    <li v-on:click="GetProduct(0)">
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a href="javascript:void(0)"><i class="fas fa-apple-alt me-2"></i>Tất cả</a>
                                            <span></span>
                                        </div>
                                    </li>

                                    <li v-on:click="GetProduct(1)">
                                        <div class="d-flex justify-content-between fruite-name">
                                            <a href="javascript:void(0)"><i class="fas fa-apple-alt me-2"></i>12312</a>
                                            <span>12</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="mb-3">Sản phẩm khuyến mại</h4>

                            <div class="d-flex align-items-center justify-content-start">
                                <a href="/product/detail" class="rounded me-4" style="width: 100px; height: 100px;">
                                    <img src="" class="img-fluid rounded" alt="">
                                </a>
                                <div>
                                    <a href="/product/detail/">
                                        <h5 class="mb-2"></h5>

                                    </a>

                                    <div class="d-flex mb-2">
                                        <h6 class="fw-bold me-2">24 &#8363;</h6>
                                        <h6 class="text-danger text-decoration-line-through">123 &#8363;</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                    <h3 class="text-secondary fw-bold">Món <br> Nhậu <br> Đặc <br> Sản</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="position-relative">
                                <img src="/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                    <h3 class="text-secondary fw-bold">Món <br> Nhậu <br> Đặc <br> Sản</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section Scripts {
    <script>
        var appProduct = new Vue({
            el: "#appProduct",
            data: {
                dataTable: [],
                sort: 0,
                isLoad: true,
                nameProduct: "@Html.Raw(ViewBag.nameProduct)",
                page: 1,
                pageSize: 9,
                totalPages: 1,
                categoryID: @Html.Raw(ViewBag.categoryID)

                    },
            methods: {
                init: async function () {

                    await this.GetProduct();
                    this.$forceUpdate();
                },
                GetProduct: async function (cID) {
                    var self = this;

                    if (cID || cID == 0) self.categoryID = cID;


                    self.isLoad = true;
                    self.dataTable = [];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/product/GetProducts",
                        data: JSON.stringify({
                            sort: self.sort, nameProduct: self.nameProduct, page: self.page, pageSize: self.pageSize, categoryID: self.categoryID
                        }),
                        success: function (res) {
                            self.isLoad = false;
                            if (res.status == 1) {
                                self.dataTable = res.data;

                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (xhr, status, error) {
                            self.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },

            },
            mounted() {
                this.init();
            },
        });

    </script>

}