@{
    Layout = "_Layout";

}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center display-6" style="font-family: cursive; color: #dde6ea !important; font-size: 45px;">NƯỚC GIẢI KHÁT</h1>
    <ol class="breadcrumb justify-content-center mb-0">
@*         <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Sản phẩm</li> *@
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-2" id="appProduct" style="height: calc(100vh - 184px)">
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="row g-4 mb-3">
                <div class="col-xl-3">
                    <div class="input-group w-100 mx-auto d-flex">
                        <input type="search" class="form-control p-2" style="font-size: 16px" placeholder="Nhập tên sản phẩm" aria-describedby="search-icon-1" v-model="nameProduct" v-on:keyup="Search()">
                        <span v-on:click="Search()" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="col-9"></div>

            </div>
            <div class="row g-4">
                <div class="col-xxl-9 col-lg-9 col-sm-8 col-7" style="margin: 0px !important">
                    <div class="row g-4 mt-1 justify-content-start" style="overflow-y: auto; height: calc(100vh - 240px);">
                        <div class="col-md-6 col-lg-6 col-xl-4" v-for="(item,index) in dataTable">
                            <div class="rounded position-relative fruite-item">
                                <model-viewer id="model-viewer" v-bind:src="item.modelUrl" style="width: 100%; height: 400px; background-color: #81c408" alt=""
                                              ar shadow-intensity="1" camera-controls disable-pan
                                              disable-tap autoplay auto-rotation shadow-softness="0.1" min-camera-orbit="auto auto 100%"
                                              max-camera-orbit="auto auto 100%">
                                </model-viewer>
                                <div v-if="item.sale>0" class="text-white bg-danger px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px; font-size: 22px">-{{item.sale}}%</div>
                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                    <a>
                                        <h4>{{item.name}}</h4>
                                    </a>
                                    <p>{{item.description}}</p>
                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                        <p class="text-dark fw-bold mb-0" style="font-size: 26px">{{Number(item.price - (item.price * item.sale / 100)).toLocaleString('en-US')}}&#8363;</p>
                                        <a href="javascript:void(0)" v-on:click="AddToCart(item)" class="btn border border-secondary rounded-pill px-3 text-primary ml-md-0 ml-1"><i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-3 col-lg-3 col-sm-4 col-5" style="position:relative; border-left: 2px rgba(1,1,1,0.4) solid">
                    <div class="row g-4" style="position:fixed; overflow-y: auto; height: calc(100vh - 240px);">
                        <div class="col-lg-12 px-xl-4 px-xxl-5">
                            <div class="mb-2">
                                <h5 class="mt-0 text-center">Sản phẩm bạn chọn</h5>
                                <ul class="list-unstyled fruite-categorie" style="overflow-y: auto; max-height: 300px">

                                    <li v-for="item in Cart" class="mt-1 mb-1">
                                        <div class="d-flex justify-content-between align-items-center fruite-name">
                                            <div>
                                                <img v-bind:src="item.posterUrl" style="height: 100px" />
                                                <span style="font-size: 30px; font-weight: 600">x{{item.amount}}</span>
                                            </div>
                                            <span v-on:click="RemoveItem(item)" role="button">
                                                <?xml version="1.0" encoding="UTF-8"?><svg width="35" height="35" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.0033 4L29.2737 9.27038H38.7296V18.7263L44 23.9967L38.7296 29.2737V38.7296H29.2737L24.0033 44L18.7264 38.7296H9.27036V29.2737L4 23.9967L9.27036 18.7263V9.27038H18.7264L24.0033 4Z" fill="none" stroke="#d33c3c" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/><path d="M17 24H31" stroke="#d33c3c" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                            </span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 px-xl-4 px-xxl-5">
                            <div class="d-flex" style="justify-content: space-between; align-items: center; padding-left: 10px; padding-right: 10px">
                                <h4 style="font-weight: 500">Tổng tiền: </h4>
                                <h3 style="font-weight: 700">{{Number(TotalMoney).toLocaleString('en-US')}}</h3>
                            </div>

                            <div style="padding: 10px 10px; margin-top: 20px;">
                               <button v-if="Cart && paymentLoad==false" class="btn" style="width: 100%; background-color: #0d6efd; color: #fff; font-size: 20px" v-on:click="CreateOrder()">Thanh toán chuyển khoản</button>
                                <button v-if="Cart && paymentLoad==true" class="btn" style="width: 100%; background-color: #0d6efd; color: #fff; font-size: 20px"><i class="fas fa-spinner fa-pulse"></i></button>
                               <button v-if="!Cart && paymentLoad==false" class="btn" style="width: 100%; background-color: #0d6efd; color: #fff; font-size: 20px" disabled>Thanh toán chuyển khoản</button>
                            </div>
                             <div style="padding: 10px 10px; margin-top: 3px;">
                               <button v-if="Cart" class="btn" style="width: 100%; background-color: #c59618; color: #fff; font-size: 20px" v-on:click="CreateOrderTienMat()">Thanh toán tiền mặt</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section Scripts {
    <script>
        var appProduct = new Vue({
            el: "#appProduct",
            data: {
                Products: [],
                dataTable: [],
                sort: 0,
                isLoad: true,
                nameProduct: "",
                page: 1,
                pageSize: 9,
                totalPages: 1,
                Cart: [],
                TotalMoney: 0,
                paymentLoad: false,
                responseServer: {
                    message: '@Html.Raw(ViewBag.message)',
                    type: '@Html.Raw(ViewBag.type)'

                }
            },
            methods: {
                init: async function () {
                    var self = this;
                    await this.GetProduct();

                    if(self.responseServer.type){
                        ShowAlert(self.responseServer.message, self.responseServer.type);
                                                // Lấy URL hiện tại
                        const currentUrl = window.location.href;

                        // Tạo URL mới không có chuỗi query
                        const newUrl = currentUrl.split('?')[0];

                        // Thay đổi URL mà không tải lại trang
                        window.history.replaceState({}, document.title, newUrl);
                    }

                    this.$forceUpdate();
                },
                GetProduct: async function () {
                    var self = this;

                    self.isLoad = true;
                    self.Products = [];

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/product/GetProducts",
                        data: {},
                        success: function (res) {
                            self.isLoad = false;
                            if (res.status == 1) {
                                self.Products = res.data.map(e => { e.amount = 0; return e; });
                                self.dataTable = self.Products;
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (xhr, status, error) {
                            self.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                Search: function(){
                    var self = this;
                    self.dataTable = self.Products.filter(e => e.name.indexOf(self.nameProduct) > -1);
                },
                AddToCart: function (item) {
                    var self = this;
                    var pro = self.Cart.find(e => e.productID == item.productID);
                    if (pro) {
                        pro.amount = pro.amount ? pro.amount + 1 : 1;
                    }
                    else {
                        item.amount = 1;
                        self.Cart.push(item);
                    }
                    console.log(self.Cart);
                                        self.CalcTotal();
                    this.$forceUpdate();

                },
                RemoveItem: function(item) {
                    var self = this;
                    var pro = self.Cart.find(e => e.productID == item.productID);
                    if (pro) {
                        if (pro.amount > 1) {
                            pro.amount = pro.amount - 1;
                        }
                        else {
                            self.Cart = self.Cart.filter(e => e.productID != pro.productID);
                        }
                    }
                    console.log(self.Cart)
                    self.CalcTotal();
                    this.$forceUpdate();
                },
                CalcTotal: function(){
                    var self = this;
                    self.TotalMoney = (self.Cart && self.Cart.length > 0) ? self.Cart.reduce((accumulator, currentValue) => {
                        return accumulator + (((currentValue.price - Math.ceil(currentValue.price * currentValue.sale / 100)) * currentValue.amount) );
                    }, 0) : 0;
                    this.$forceUpdate();
                },
                 CreateOrder: async function () {
                    var self = this;
                     self.paymentLoad = true;

                    var itemOrders = self.Cart.map(e => {
                        return { productID: e.productID, amount: e.amount };
                    })
                    $.ajax({
                        url: '/VNPay/Payment',
                        type: 'POST',
                        data: JSON.stringify(
                           itemOrders
                        ),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            if (res.status == 1) {
                                window.location.href = res.data;
                            }
                            else {
                                self.paymentLoad = false;
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (error) {
                            self.paymentLoad= false;
                            ShowAlert(error.responseJSON.message, "danger");
                        }
                    });


                },
                CreateOrderTienMat: function () {
                    ShowAlert("Chức năng này cần có kết nối PLC!", "danger");
                }


            },
            mounted() {
                this.init();
            },
        });

    </script>

}