@{
    Layout = "_LayoutAdmin";
}
<div id="appCategory" style="overflow-x:auto;">
    <div class="w-100 justify-content-end d-flex mb-3 mt-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">Tạo danh mục mới</button>

    </div>

    <table class="table table-bordered" style="vertical-align: middle; text-align:center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody style="vertical-align:middle; font-size: 18px;">
            <tr v-if="isLoad">
                <td style="font-size: 40px; text-align:center;" colspan="5"><i class="fa-solid fa-spinner fa-spin-pulse"></i></td>
            </tr>
            <tr v-if="isLoad == false" v-for="(item,index) in dataTable">
                <td>{{index+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>
                    <a v-bind:href="item.image" alt="preview" target="_blank">
                        <img v-bind:src="item.image" style="height: 100px" />
                    </a>
                </td>
                <td >
                    <button class="btn btn-warning mx-1 my-1" data-toggle="modal" data-target="#modalUpdate" v-on:click="PopupMaterial(item)">Cập nhật</button>
                    <button class="btn btn-danger mx-1 my-1" data-toggle="modal" data-target="#modalDelete" v-on:click="PopupDelete(item)">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content" style="margin-bottom: 150px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm danh mục mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: auto; overflow-y: auto; max-height: 700px;">
                    <div>
                        <div class="form-group">
                            <label for="ip1">Tên mục</label>
                            <input type="text" class="form-control" id="ip1" v-model="dataAdd.name">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageName}}</div>
                        </div>
                        <div class="form-group">
                            <label for="ip1">Mô tả</label>
                            <input type="text" class="form-control" id="ip1" v-model="dataAdd.description">
                        </div>
                        <div class="form-group">
                            <label for="ip3">Chọn ảnh</label>
                            <input type="file" class="form-control" id="ip3" v-on:change="ChangeImage">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFile}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataAdd.image" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button v-if="dataAdd.isLoad == false" type="button" class="btn btn-primary" v-on:click="AddMaterial()">Xác nhận</button>
                    <button v-if="dataAdd.isLoad" type="button" class="btn btn-primary">Đang xử lý...</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content" style="margin-bottom: 150px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật danh mục</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: auto; overflow-y: auto; max-height: 600px;">
                    <div>
                        <div class="form-group">
                            <label for="ipu1">Tên mục</label>
                            <input type="text" class="form-control" id="ipu1" v-model="dataUpdate.name">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageName}}</div>
                        </div>
                        <div class="form-group">
                            <label for="ipu1">Mô tả</label>
                            <input type="text" class="form-control" id="ipu1" v-model="dataUpdate.description">
                        </div>
                        <div class="form-group">
                            <label for="inputUpdateImg">Chọn ảnh</label>
                            <input type="file" class="form-control" id="inputUpdateImg" v-on:change="ChangeImageUpdate">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFile}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataUpdate.image" />
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button v-if="dataUpdate.isLoad == false" type="button" class="btn btn-primary" v-on:click="UpdateMaterial()">Xác nhận</button>
                    <button v-if="dataUpdate.isLoad" type="button" class="btn btn-primary">Đang xử lý...</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content" style="margin-bottom: 150px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xóa danh mục sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: auto; overflow-y: auto; max-height: 700px;">
                    <h3>Bạn có chắc chắn muốn xóa danh mục này?</h3>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button v-if="dataDelete.isLoad == false" type="button" class="btn btn-danger" v-on:click="DeleteCategory()">Xác nhận</button>
                    <button v-if="dataDelete.isLoad" type="button" class="btn btn-primary">Đang xử lý...</button>
                </div>
            </div>
        </div>
    </div>



</div>


@section Scripts {
    <script>
        var appCategory = new Vue({
            el: "#appCategory",
            data: {
                dataTable: [],
                isLoad: true,
                dataAdd: {
                    name: "",
                    messageName: "",
                    description: "",
                    file: "",
                    image: "",
                    messageFile: "",
                    isLoad: false
                },
                dataUpdate: {
                    materialID: "",
                    description: "",
                    name: "",
                    file: "",
                    image: "",
                    messageFile: "",
                    messageName: "",
                    isLoad: false,
                },
                dataDelete: {
                    categoryID: "",
                    isLoad: false
                }
            },
            methods: {
                init: async function () {

                    await this.GetMaterial();
                    this.$forceUpdate();
                },
                GetMaterial: async function () {
                    var self = this;
                    self.isLoad = true;
                    self.dataTable = [];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/admin/GetCategories",
                        data: JSON.stringify({
                        }),
                        success: function (res) {
                            self.isLoad = false;
                            if (res.status == 1) {
                                self.dataTable = res.data;
                                console.log(self.dataTable)
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (xhr, status, error) {
                            self.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                ChangeImage: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.image = URL.createObjectURL(file);
                        self.dataAdd.file = file;
                    }
                    else {
                        self.dataAdd.messageFile = "Định dạng file không phù hợp.";
                        self.dataAdd.image = "";
                        self.dataAdd.file = "";
                    }

                },
                ChangeImageUpdate: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.image = URL.createObjectURL(file);
                        self.dataUpdate.file = file;
                    }
                    else {
                        self.dataUpdate.messageFile = "Định dạng file không phù hợp.";
                        self.dataUpdate.image = "";
                        self.dataUpdate.file = "";
                    }

                },
                AddMaterial: async function () {
                    var self = this;

                    if (!self.dataAdd.name) {
                        self.dataAdd.messageName = "Bạn chưa đặt tên cho danh mục này.";
                        return;
                    }
                    else {
                        self.dataAdd.messageName = "";
                    }
                    if (!self.dataAdd.file) {
                        self.dataAdd.messageFile = "Bạn chưa chọn ảnh xem trước danh mục.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFile = "";
                    }

                    var formData = new FormData();
                    formData.append('name', self.dataAdd.name);
                    formData.append('description', self.dataAdd.description);
                    formData.append('file', self.dataAdd.file);


                    self.dataAdd.isLoad = true;
                    $.ajax({
                        url: '/admin/addcategory',
                        type: 'POST',
                        data: formData,
                        processData: false, // không xử lý data
                        contentType: false, // không đặt
                        success: function (res) {
                            self.dataAdd.isLoad = false;
                            if (res.status == 1) {
                                self.GetMaterial();
                                ShowAlert(res.message, "success");
                                self.dataAdd.name = "";
                                self.dataAdd.description = "";
                                self.dataAdd.file = "";
                                self.dataAdd.image = "";
                                var inputs = document.querySelectorAll("#modalAdd input[type='file']");
                                inputs.forEach(function (input) {
                                    input.value = "";
                                });
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                            $('#modalAdd').modal('hide');

                        },
                        error: function (error) {
                            self.dataAdd.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                UpdateMaterial: async function () {
                    var self = this;

                    if (!self.dataUpdate.name) {
                        self.dataUpdate.messageName = "Bạn chưa đặt tên cho danh mục này.";
                        return;
                    }
                    else {
                        self.dataUpdate.messageName = "";
                    }

                    var formData = new FormData();
                    formData.append('categoryID', self.dataUpdate.materialID);
                    formData.append('name', self.dataUpdate.name);
                    formData.append('file', self.dataUpdate.file);
                    formData.append('description', self.dataUpdate.description == null ? "" : self.dataUpdate.description);

                    self.dataUpdate.isLoad = true;
                    $.ajax({
                        url: '/admin/updatecategory',
                        type: 'POST',
                        data: formData,
                        processData: false, // không xử lý data
                        contentType: false, // không đặt
                        success: function (res) {
                            self.dataUpdate.isLoad = false;
                            if (res.status == 1) {
                                self.GetMaterial();
                                ShowAlert(res.message, "success");
                                self.dataUpdate.name = "";
                                self.dataUpdate.description = "";
                                self.dataUpdate.file = "";
                                self.dataUpdate.image = "";
                                self.dataUpdate.messageFile = "";
                                self.dataUpdate.messageName = "";
                                var inputs = document.querySelectorAll("#modalUpdate input[type='file']");
                                inputs.forEach(function (input) {
                                    input.value = "";
                                });
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                            $('#modalUpdate').modal('hide');

                        },
                        error: function (error) {
                            self.dataUpdate.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                PopupMaterial: function (material) {
                    var self = this;
                    console.log(material);
                    self.dataUpdate.materialID = material.categoryID;
                    self.dataUpdate.name = material.name;
                    self.dataUpdate.description = material.description;
                    self.dataUpdate.image = material.image;
                    self.dataUpdate.file = "";
                    self.dataUpdate.messageFile = "";
                    self.dataUpdate.messageName = "";

                },
                DeleteCategory: async function () {
                    var self = this;

                    self.dataDelete.isLoad = true;
                    $.ajax({
                        url: '/admin/deletecategory',
                        type: 'POST',
                        data: JSON.stringify({
                            ID: self.dataDelete.categoryID

                        }),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            self.dataDelete.isLoad = false;
                            if (res.status == 1) {
                                self.GetMaterial();
                                ShowAlert(res.message, "success");
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                            $('#modalDelete').modal('hide');

                        },
                        error: function (error) {
                            self.dataDelete.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                PopupDelete: function (account) {
                    var self = this;
                    self.dataDelete.categoryID = account.categoryID;

                },






            },
            mounted() {
                this.init();
            },
        });

    </script>

}