@{
    Layout = "_LayoutAdmin";
}
<div id="appMaterial" style="overflow-x:auto;">
    <div class="w-100 justify-content-end d-flex mb-3 mt-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">Thêm mới</button>

    </div>

    <table class="table table-bordered" style="vertical-align: middle; text-align:center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên chất liệu</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">In Decal</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">AO Map</th>
                <th scope="col">Normal Map</th>
                <th scope="col">Roughness Map</th>
                <th scope="col">Metalness Map</th>

                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody style="vertical-align:middle; font-size: 18px;">
            <tr v-if="isLoad">
                <td style="font-size: 40px; text-align:center;" colspan="9"><i class="fa-solid fa-spinner fa-spin-pulse"></i></td>
            </tr>
            <tr v-if="isLoad == false" v-for="(item,index) in dataTable">
                <td>{{index+1}}</td>
                <td>{{item.name}}</td>
                <td>
                    <span class="badge badge-success" v-if="item.status==true">Đang sử dụng</span>
                    <span class="badge badge-danger" v-if="item.status==false">Ngừng sử dụng</span>
                </td>
                <td>
                    <span class="badge badge-success" v-if="item.isDecal==true">Có</span>
                    <span class="badge badge-danger" v-if="item.isDecal==false">Không</span>
                </td>
                <td>
                    <a v-bind:href="item.url" alt="preview" target="_blank">
                        <img v-bind:src="item.url" style="height: 100px" />
                    </a>
                </td>
                <td>
                    <a v-bind:href="item.aoMap" alt="aoMap" target="_blank">
                        <img v-bind:src="item.aoMap" style="height: 100px" />
                    </a>
                </td>
                <td>
                    <a v-bind:href="item.normalMap" alt="normalMap" target="_blank">
                        <img v-bind:src="item.normalMap" style="height: 100px" />
                    </a>
                </td>
                <td>
                    <a v-bind:href="item.roughnessMap" alt="roughnessMap" target="_blank">
                        <img v-bind:src="item.roughnessMap" style="height: 100px" />
                    </a>
                </td>
                <td>
                    <a v-bind:href="item.metalnessMap" alt="metalnessMap" target="_blank">
                        <img v-bind:src="item.metalnessMap" style="height: 100px" />
                    </a>
                </td>

                <td><button class="btn btn-warning" data-toggle="modal" data-target="#modalUpdate" v-on:click="PopupMaterial(item)">Cập nhật</button></td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content" style="margin-bottom: 150px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Thêm chất liệu vải mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: auto; overflow-y: auto; max-height: 700px;">
                    <div>
                        <div class="form-group">
                            <label for="ip1">Tên loại vải</label>
                            <input type="text" class="form-control" id="ip1" v-model="dataAdd.name">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageName}}</div>
                        </div>
                        <div class="form-group">
                            <label >In decal</label>
                            <select class="form-control" v-model="dataAdd.isDecal">
                                <option value="true">Có</option>
                                <option value="false">Không</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Trạng thái</label>
                            <select class="form-control" v-model="dataAdd.status">
                                <option value="true">Đang sử dụng</option>
                                <option value="false">Ngừng sử dụng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ip3">Chọn ảnh xem trước</label>
                            <input type="file" class="form-control" id="ip3" v-on:change="ChangeImage">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFile}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataAdd.image" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3AoMap">Chọn ảnh AO Map <span style="font-size: 13px;">(Ánh sáng môi trường xung quanh)</span></label>
                            <input type="file" class="form-control" id="ip3AoMap" v-on:change="ChangeImageAoMap">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFileAoMap}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataAdd.imageAoMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3NormalMap">Chọn ảnh Normal Map <span style="font-size: 13px;">(Chi tiết đồ họa)</span></label>
                            <input type="file" class="form-control" id="ip3NormalMap" v-on:change="ChangeImageNormalMap">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFileNormalMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataAdd.imageNormalMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3RoughnessMap">Chọn ảnh Roughness Map <span style="font-size: 13px;">(Độ nhám)</span></label>
                            <input type="file" class="form-control" id="ip3RoughnessMap" v-on:change="ChangeImageRoughnessMap">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFileRoughnessMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataAdd.imageRoughnessMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3MetalnessMap">Chọn ảnh Metalness Map <span style="font-size: 13px;">(Vị trí của các vùng kim loại)</span></label>
                            <input type="file" class="form-control" id="ip3MetalnessMap" v-on:change="ChangeImageMetalnessMap">
                            <div class="text-danger" style="font-size: 14px;">{{dataAdd.messageFileMetalnessMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataAdd.imageMetalnessMap" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button v-if="dataAdd.isLoad == false" type="button" class="btn btn-primary" v-on:click="AddMaterial()">Xác nhận</button>
                    <button v-if="dataAdd.isLoad" type="button" class="btn btn-primary">Đang xử lý...</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
            <div class="modal-content" style="margin-bottom: 150px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cập nhật chất liệu vải</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: auto; overflow-y: auto; max-height: 600px;">
                    <div>
                        <div class="form-group">
                            <label for="ipu1">Tên loại vải</label>
                            <input type="text" class="form-control" id="ipu1" v-model="dataUpdate.name">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageName}}</div>
                        </div>
                        <div class="form-group">
                            <label>In decal</label>
                            <select class="form-control" v-model="dataUpdate.isDecal">
                                <option value="true">Có</option>
                                <option value="false">Không</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStateu">Trạng thái</label>
                            <select id="inputStateu" class="form-control" v-model="dataUpdate.status">
                                <option value="true">Đang sử dụng</option>
                                <option value="false">Ngừng sử dụng</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputUpdateImg">Chọn ảnh xem trước</label>
                            <input type="file" class="form-control" id="inputUpdateImg" v-on:change="ChangeImageUpdate">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFile}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataUpdate.image" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3AoMap1">Chọn ảnh AO Map <span style="font-size: 13px;">(Ánh sáng môi trường xung quanh)</span></label>
                            <input type="file" class="form-control" id="ip3AoMap1" v-on:change="ChangeImageAoMapU">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFileAoMap}}</div>
                            <div class="mt-2">
                                <img style="width: 80px;" v-bind:src="dataUpdate.imageAoMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3NormalMap1">Chọn ảnh Normal Map <span style="font-size: 13px;">(Chi tiết đồ họa)</span></label>
                            <input type="file" class="form-control" id="ip3NormalMap1" v-on:change="ChangeImageNormalMapU">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFileNormalMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataUpdate.imageNormalMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3RoughnessMap1">Chọn ảnh Roughness Map <span style="font-size: 13px;">(Độ nhám)</span></label>
                            <input type="file" class="form-control" id="ip3RoughnessMap1" v-on:change="ChangeImageRoughnessMapU">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFileRoughnessMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataUpdate.imageRoughnessMap" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ip3MetalnessMap1">Chọn ảnh Metalness Map <span style="font-size: 13px;">(Vị trí của các vùng kim loại)</span></label>
                            <input type="file" class="form-control" id="ip3MetalnessMap1" v-on:change="ChangeImageMetalnessMapU">
                            <div class="text-danger" style="font-size: 14px;">{{dataUpdate.messageFileMetalnessMap}}</div>
                            <div class="mt-2">
                                <img style="width:80px;" v-bind:src="dataUpdate.imageMetalnessMap" />
                            </div>
                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button v-if="dataUpdate.isLoad == false" type="button" class="btn btn-primary" v-on:click="UpdateMaterial()">Xác nhận</button>
                    <button v-if="dataUpdate.isLoad" type="button" class="btn btn-primary">Đang xử lý...</button>

                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts {
    <script>
        var appMaterial = new Vue({
            el: "#appMaterial",
            data: {
                dataTable: [],
                isLoad: true,
                dataAdd: {
                    name: "",
                    status: true,
                    messageName: "",
                    isDecal: true,

                    file: "",
                    image: "",
                    messageFile: "",

                    fileAoMap: "",
                    imageAoMap: "",
                    messageFileAoMap: "",

                    fileNormalMap: "",
                    imageNormalMap: "",
                    messageFileNormalMap: "",

                    fileRoughnessMap: "",
                    imageRoughnessMap: "",
                    messageFileRoughnessMap: "",

                    fileMetalnessMap: "",
                    imageMetalnessMap: "",
                    messageFileMetalnessMap: "",


                    isLoad: false
                },
                dataUpdate: {
                    materialID: "",
                    name: "",
                    isDecal: true,
                    status: true,
                    file: "",
                    image: "",
                    messageFile: "",
                    messageName: "",
                    isLoad: false,
                    fileAoMap: "",
                    imageAoMap: "",
                    messageFileAoMap: "",

                    fileNormalMap: "",
                    imageNormalMap: "",
                    messageFileNormalMap: "",

                    fileRoughnessMap: "",
                    imageRoughnessMap: "",
                    messageFileRoughnessMap: "",

                    fileMetalnessMap: "",
                    imageMetalnessMap: "",
                    messageFileMetalnessMap: "",
                }
            },
            methods: {
                init: async function () {

                    await this.GetMaterial();
                    this.$forceUpdate();
                },
                GetMaterial: async function () {
                    var self = this;
                    self.isLoad = true;
                    self.dataTable = [];

                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/admin/GetMaterials",
                        data: JSON.stringify({

                        }),
                        success: function (res) {
                            self.isLoad = false;
                            if (res.status == 1) {
                                self.dataTable = res.data;
                                console.log(self.dataTable)
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                        },
                        error: function (xhr, status, error) {
                            self.isLoad = false;
                            ShowAlert(error, "danger");
                        }
                    });

                },
                ChangeImage: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.image = URL.createObjectURL(file);
                        self.dataAdd.file = file;
                        self.dataAdd.messageFile = "";
                    }
                    else {
                        self.dataAdd.messageFile = "Định dạng file không phù hợp.";
                        self.dataAdd.image = "";
                        self.dataAdd.file = "";
                    }

                },
                ChangeImageAoMap: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.imageAoMap = URL.createObjectURL(file);
                        self.dataAdd.fileAoMap = file;
                        self.dataAdd.messageFileAoMap = "";
                    }
                    else {
                        self.dataAdd.messageFileAoMap = "Định dạng file không phù hợp.";
                        self.dataAdd.imageAoMap = "";
                        self.dataAdd.fileAoMap = "";
                    }

                },
                ChangeImageNormalMap: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.imageNormalMap = URL.createObjectURL(file);
                        self.dataAdd.fileNormalMap = file;
                        self.dataAdd.messageFileNormalMap = "";
                    }
                    else {
                        self.dataAdd.messageFileNormalMap = "Định dạng file không phù hợp.";
                        self.dataAdd.imageNormalMap = "";
                        self.dataAdd.fileNormalMap = "";
                    }

                },
                ChangeImageRoughnessMap: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.imageRoughnessMap = URL.createObjectURL(file);
                        self.dataAdd.fileRoughnessMap = file;
                        self.dataAdd.messageFileRoughnessMap = "";
                    }
                    else {
                        self.dataAdd.messageFileRoughnessMap = "Định dạng file không phù hợp.";
                        self.dataAdd.imageRoughnessMap = "";
                        self.dataAdd.fileRoughnessMap = "";
                    }

                },
                ChangeImageMetalnessMap: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataAdd.imageMetalnessMap = URL.createObjectURL(file);
                        self.dataAdd.fileMetalnessMap = file;
                        self.dataAdd.messageFileMetalnessMap = "";

                    }
                    else {
                        self.dataAdd.messageFileMetalnessMap = "Định dạng file không phù hợp.";
                        self.dataAdd.imageMetalnessMap = "";
                        self.dataAdd.fileMetalnessMap = "";
                    }

                },

                ChangeImageAoMapU: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.imageAoMap = URL.createObjectURL(file);
                        self.dataUpdate.fileAoMap = file;
                        self.dataUpdate.messageFileAoMap = "";

                    }
                    else {
                        self.dataUpdate.messageFileAoMap = "Định dạng file không phù hợp.";
                        self.dataUpdate.imageAoMap = "";
                        self.dataUpdate.fileAoMap = "";
                    }

                },
                ChangeImageNormalMapU: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.imageNormalMap = URL.createObjectURL(file);
                        self.dataUpdate.fileNormalMap = file;
                        self.dataUpdate.messageFileNormalMap = "";
                    }
                    else {
                        self.dataUpdate.messageFileNormalMap = "Định dạng file không phù hợp.";
                        self.dataUpdate.imageNormalMap = "";
                        self.dataUpdate.fileNormalMap = "";
                    }

                },
                ChangeImageRoughnessMapU: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.imageRoughnessMap = URL.createObjectURL(file);
                        self.dataUpdate.fileRoughnessMap = file;
                        self.dataUpdate.messageFileRoughnessMap = "";

                    }
                    else {
                        self.dataUpdate.messageFileRoughnessMap = "Định dạng file không phù hợp.";
                        self.dataUpdate.imageRoughnessMap = "";
                        self.dataUpdate.fileRoughnessMap = "";
                    }

                },
                ChangeImageMetalnessMapU: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.imageMetalnessMap = URL.createObjectURL(file);
                        self.dataUpdate.fileMetalnessMap = file;
                        self.dataUpdate.messageFileMetalnessMap = "";
                    }
                    else {
                        self.dataUpdate.messageFileMetalnessMap = "Định dạng file không phù hợp.";
                        self.dataUpdate.imageMetalnessMap = "";
                        self.dataUpdate.fileMetalnessMap = "";
                    }

                },
                ChangeImageUpdate: function (e) {
                    var self = this;
                    var file = e.target.files[0];
                    if (isFileImage(file)) {
                        self.dataUpdate.image = URL.createObjectURL(file);
                        self.dataUpdate.file = file;
                        self.dataUpdate.messageFile = "";
                    }
                    else {
                        self.dataUpdate.messageFile = "Định dạng file không phù hợp.";
                        self.dataUpdate.image = "";
                        self.dataUpdate.file = "";
                    }

                },
                AddMaterial: async function () {
                    var self = this;

                    if (!self.dataAdd.name) {
                        self.dataAdd.messageName = "Bạn chưa đặt tên cho chất liệu này.";
                        return;
                    }
                    else {
                        self.dataAdd.messageName = "";
                    }
                    if (!self.dataAdd.file) {
                        self.dataAdd.messageFile = "Bạn chưa chọn ảnh xem trước chất liệu.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFile = "";
                    }
                    if (!self.dataAdd.fileAoMap) {
                        self.dataAdd.messageFileAoMap = "Bạn chưa chọn ảnh AO Map.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFileAoMap = "";
                    }
                    if (!self.dataAdd.fileNormalMap) {
                        self.dataAdd.messageFileNormalMap = "Bạn chưa chọn ảnh Normal Map.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFileNormalMap = "";
                    }
                    if (!self.dataAdd.fileRoughnessMap) {
                        self.dataAdd.messageFileRoughnessMap = "Bạn chưa chọn ảnh Roughness Map.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFileRoughnessMap = "";
                    }
                    if (!self.dataAdd.fileMetalnessMap) {
                        self.dataAdd.messageFileMetalnessMap = "Bạn chưa chọn ảnh Metalness Map.";
                        return;
                    }
                    else {
                        self.dataAdd.messageFileMetalnessMap = "";
                    }

                    var formData = new FormData();
                    formData.append('name', self.dataAdd.name);
                    formData.append('file', self.dataAdd.file);
                    formData.append('status', self.dataAdd.status);
                    formData.append('aoMap', self.dataAdd.fileAoMap);
                    formData.append('normalMap', self.dataAdd.fileNormalMap);
                    formData.append('roughnessMap', self.dataAdd.fileRoughnessMap);
                    formData.append('metalnessMap', self.dataAdd.fileMetalnessMap);
                    formData.append('isDecal', self.dataAdd.isDecal);


                    self.dataAdd.isLoad = true;
                    $.ajax({
                        url: '/admin/addmaterial',
                        type: 'POST',
                        data: formData,
                        processData: false, // không xử lý data
                        contentType: false, // không đặt
                        success: function (res) {
                            self.dataAdd.isLoad = false;
                            if (res.status == 1) {
                                self.GetMaterial();
                                ShowAlert(res.message, "success");
                                self.dataAdd.name = "";
                                self.dataAdd.status = true;
                                self.dataAdd.file = "";
                                self.dataAdd.image = "";

                                self.dataAdd.fileAoMap = "";
                                self.dataAdd.imageAoMap = "";

                                self.dataAdd.fileNormalMap = "";
                                self.dataAdd.imageNormalMap = "";

                                self.dataAdd.fileRoughnessMap = "";
                                self.dataAdd.imageRoughnessMap = "";

                                self.dataAdd.fileMetalnessMap = "";
                                self.dataAdd.imageMetalnessMap = "";
                                var inputs = document.querySelectorAll("#modalAdd input[type='file']");
                                inputs.forEach(function (input) {
                                    input.value = "";
                                });
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                            $('#modalAdd').modal('hide');

                        },
                        error: function (error) {
                            self.dataAdd.isLoad = false;
                            ShowAlert(error.responseJSON.message, "danger");
                        }
                    });

                },
                UpdateMaterial: async function () {
                    var self = this;

                    if (!self.dataUpdate.name) {
                        self.dataUpdate.messageName = "Bạn chưa đặt tên cho chất liệu này.";
                        return;
                    }
                    else {
                        self.dataUpdate.messageName = "";
                    }

                    var formData = new FormData();
                    formData.append('materialID', self.dataUpdate.materialID);
                    formData.append('name', self.dataUpdate.name);
                    formData.append('file', self.dataUpdate.file);
                    formData.append('status', self.dataUpdate.status);
                    formData.append('aoMap', self.dataUpdate.fileAoMap);
                    formData.append('normalMap', self.dataUpdate.fileNormalMap);
                    formData.append('roughnessMap', self.dataUpdate.fileRoughnessMap);
                    formData.append('metalnessMap', self.dataUpdate.fileMetalnessMap);
                    formData.append('isDecal', self.dataUpdate.isDecal);

                    self.dataUpdate.isLoad = true;
                    $.ajax({
                        url: '/admin/updatematerial',
                        type: 'POST',
                        data: formData,
                        processData: false, // không xử lý data
                        contentType: false, // không đặt
                        success: function (res) {
                            self.dataUpdate.isLoad = false;
                            if (res.status == 1) {
                                self.GetMaterial();
                                ShowAlert(res.message, "success");
                                self.dataUpdate.name = "";
                                self.dataUpdate.status = true;
                                self.dataUpdate.file = "";
                                self.dataUpdate.image = "";
                                self.dataUpdate.messageFile = "";
                                self.dataUpdate.messageName = "";

                                self.dataUpdate.fileAoMap = "";
                                self.dataUpdate.imageAoMap = "";

                                self.dataUpdate.fileNormalMap = "";
                                self.dataUpdate.imageNormalMap = "";

                                self.dataUpdate.fileRoughnessMap = "";
                                self.dataUpdate.imageRoughnessMap = "";

                                self.dataUpdate.fileMetalnessMap = "";
                                self.dataUpdate.imageMetalnessMap = "";
                                var inputs = document.querySelectorAll("#modalUpdate input[type='file']");
                                inputs.forEach(function (input) {
                                    input.value = "";
                                });
                            }
                            else {
                                ShowAlert(res.message, "danger");
                            }
                            $('#modalUpdate').modal('hide');

                        },
                        error: function (error) {
                            self.dataUpdate.isLoad = false;
                            ShowAlert(error.responseJSON.message, "danger");
                        }
                    });

                },
                PopupMaterial: function (material) {
                    var self = this;
                    console.log(material);
                    self.dataUpdate.materialID = material.materialID;
                    self.dataUpdate.name = material.name;
                    self.dataUpdate.status = material.status;
                    self.dataUpdate.image = material.url;
                    self.dataUpdate.file = "";
                    self.dataUpdate.messageFile = "";
                    self.dataUpdate.messageName = "";

                    self.dataUpdate.imageAoMap = material.aoMap;
                    self.dataUpdate.fileAoMap = "";
                    self.dataUpdate.messageFileAoMap = "";

                    self.dataUpdate.imageNormalMap = material.normalMap;
                    self.dataUpdate.fileNormalMap = "";
                    self.dataUpdate.messageFileNormalMap = "";

                    self.dataUpdate.imageRoughnessMap = material.roughnessMap;
                    self.dataUpdate.fileRoughnessMap = "";
                    self.dataUpdate.messageFileRoughnessMap = "";

                    self.dataUpdate.imageMetalnessMap = material.metalnessMap;
                    self.dataUpdate.fileMetalnessMap = "";
                    self.dataUpdate.messageFileMetalnessMap = "";
                }






            },
            mounted() {
                this.init();
            },
        });

    </script>

}