@{
    Layout = "_Layout";

}

<section class="ftco-section" style="background-image: url('/images/bg2.webp'); background-size:cover">
    <div class="container mt-5 mb-5 justify-content-center d-flex flex-wrap">
        <div class="shadow rounded text-white px-3 py-5" style="width: 300px; height:630px; background-color:#290e05; border-radius: 7px; font-size: 16px; line-height: 30px;">
            <span class="mt-2">- Bạn kiếm được lượt quay khi đơn hàng được giao đến bạn thành công. </span> <br />
            <span class="mt-2">- Bạn nhận được phần thưởng khi quay ra hàng quần áo giống nhau. </span> <br />
            <span class="mt-2">- Với 1 hàng giống nhau bạn nhận được phiếu giảm giá 10% cho tổng hóa đơn.</span> <br />
            <span class="mt-2">- Với 2 hàng giống nhau bạn nhận được phiếu giảm giá 20% cho tổng hóa đơn.</span> <br />
            <span class="mt-2">- Với 3 hàng giống nhau bạn nhận được phiếu giảm giá 30% cho tổng hóa đơn.</span> <br />
            <span class="mt-2">- Với 3 hàng giống nhau và 1 trong 3 hàng đó là <img style="width: 30px;" src="~/images/1.png" alt="icon1" /> thì bạn nhận được phiếu giảm giá 40% cho tổng hóa đơn.</span>

        </div>
        <div class="shadow rounded" id="GameDiv" style="width:542px; height: 630px;">
            <canvas id="GameCanvas" width="542" height="630"></canvas>
            <div id="splash">
                <div class="progress-bar stripes">
                    <span style="width: 0%"></span>
                </div>
            </div>
        </div>
    </div>
</section>





<script src="src/settings.0109d.js" charset="utf-8"></script>
<script src="main.c3954.js" charset="utf-8"></script>

<script type="text/javascript">
    (function () {
        // open web debugger console
        if (typeof VConsole !== 'undefined') {
            window.vConsole = new VConsole();
        }

        var debug = window._CCSettings.debug;
        var splash = document.getElementById('splash');
        splash.style.display = 'block';

        function loadScript(moduleName, cb) {
            function scriptLoaded() {
                document.body.removeChild(domScript);
                domScript.removeEventListener('load', scriptLoaded, false);
                cb && cb();
            };
            var domScript = document.createElement('script');
            domScript.async = true;
            domScript.src = moduleName;
            domScript.addEventListener('load', scriptLoaded, false);
            document.body.appendChild(domScript);
        }

        loadScript(debug ? 'cocos2d-js.js' : 'cocos2d-js-min.31478.js', function () {
            if (CC_PHYSICS_BUILTIN || CC_PHYSICS_CANNON) {
                loadScript(debug ? 'physics.js' : 'physics-min.30c61.js', window.boot);
            }
            else {
                window.boot();
            }
        });
    })();
</script>

